.lead__intro-list {
  max-width: 690px;
  min-height: 90px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  list-style: none;
}

@media all and (max-width: 1023px) {
  .lead__intro-list {
    max-width: 720px;
  }
}

@media all and (max-width: 767px) {
  .lead__intro-list {
    max-width: 288px;
  }
}
