.places {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  row-gap: 80px;
  max-width: 984px;
  margin: 0 auto;
}

@media all and (max-width: 1279px) {
  .places {
    max-width: 928px;
  }
}

@media all and (max-width: 1023px) {
  .places {
    max-width: 720px;
    row-gap: 73px;
  }
}

@media all and (max-width: 767px) {
  .places {
    width: 100%;
    row-gap: 50px;
  }
}