.lead {
  display: grid;
  grid-template-columns: minmax(320px, 984px);
  grid-template-rows: repeat(5, min-content);
  margin: 0 auto;
  padding-top: 56px;
}

@media all and (max-width: 1279px) {
  .lead {
    max-width: 928px;
    padding-top: 48px;
  }  
}

@media all and (max-width: 1023px) {
  .lead {
    width: 100%;
    padding-top: 48px;
  }  
}

@media all and (max-width: 767px) {
  .lead {
    width: 100%;
    padding-top: 48px;
  }  
}