.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 24px;
}

@media all and (max-width: 767px) {
  .footer__container {
    max-width: 320px;
    max-height: 310px;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 24px;
    padding-left: 6px;
    align-items: start;
  }
}