.content {
  display: grid;
  grid-template-columns: minmax(320px, 1184px);
  grid-template-rows: repeat(auto-fit, 1fr);
  row-gap: 92px;
  max-width: 1184px;
  margin: 0 auto;
}

@media all and (max-width: 1279px) {
  .content {
    max-width: 1024px;
  }  
}

@media all and (max-width: 767px) {
  .page {
    padding-top: 16px;
  }  
}