.content {
  display: grid;
  grid-template-columns: minmax(320px, 1184px);
  grid-template-rows: repeat(4, min-content);
  row-gap: 92px;
  max-width: 1184px;
  margin: 0 auto;
}

@media all and (max-width: 1279px) {
  .content {
    max-width: 1024px;
  }  
}

@media all and (max-width: 1023px) {
  .content {
    row-gap: 90px;
  }  
}

@media all and (max-width: 767px) {
  .content {
    row-gap: 64px;
  }  
}