.place__link {
  max-width: 456px;
  min-height: 22px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__link:hover {
  opacity: 0.7;
  transition: 0.2s;
}

