.lead__caption-fig {
  min-width: 158px;
  min-height: 14px;
  font-size: 10px;
  line-height: 14px;
  font-weight: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media all and (max-width: 1023px) {
  .lead__caption-fig {
    margin-left: 24px;
  }
}

@media all and (max-width: 767px) {
  .lead__caption-fig {
    margin-left: 16px;
  }
}

